<% if (post.link) { %>
    <h3 class="<%= class_name || 'post-title' %>">
    	<a href="<%= post.link %>">
    		<%= post.title || post.link %>
    	</a>
    </h3>
<% } else if (post.title) { %>
    <h3 class="<%= class_name || 'post-title' %>">
    	<a href="<%= post.permalink %>">
    		<%= post.title %>
    	</a>
    </h3>
<% } %>