<article id="<%= post.layout %>-<%= post.slug %>"
  class="post white-box article-type-<%= post.layout %>"
  itemscope itemprop="blogPost">
	<section class='meta'>
	<h2 class="title">
  	<a href="<%- url_for(post.path) %>">
    	<%= post.title %>
    </a>
    </h2>
	<time>
	  <%= date(post.date, 'MMM D, YYYY') %>
	</time>
	<%- partial('categories',{post:post}) %>
	</section>
	<% if(post.toc!==false){ %>
		<section class="toc-wrapper"><%- toc(post.content) %></section>
	<% } %>
	<section class="article typo">
  	<div class="article-entry" itemprop="articleBody">
    	<%- post.content %>
  	</div>
	  <% if (post.tags && post.tags.length) { %>
	  <div class="article-tags tags">
      <% post.tags.each(function(item){ %>
        <a href="<%- url_for(item.path) %>"><%=item.name %></a>
      <%})%>
	  </div>
	  
	 <!-- 分享 -->
	 <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

	 <!-- 微信号 -->
	 <!--
	 <div>        
		<div id="wechat_subscriber" style="display: block; padding: 10px 0; margin: 20px auto; width: 100%; text-align: center">
		    <a href="#" class="fancybox" rel="group"><img id="wechat_subscriber_qcode" src="#" alt="wechat" style="width: 200px; max-width: 100%"></a>
		    <div>欢迎订阅我的微信公众号</div>
		</div>
    </div>
    -->
    <!-- 打赏 -->
    <div>
		  <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center">
		    <div>坚持原创技术分享，您的支持将鼓励我继续创作！</div>
		    <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}" 
		    	style="cursor: pointer;
				    border: 0;
				    outline: 0;
				    border-radius: 100%;
				    padding: 0;
				    margin: 0;
				    letter-spacing: normal;
				    text-transform: none;
				    text-indent: 0;
				    text-shadow: none;
				    overflow: visible;
				    text-rendering: auto;
				    line-height:2;
				    margin-top:20px">
		      <span style="display: inline-block;
						    width: 80px;
						    height: 35px;
						    border-radius: 5px;
						    color: #fff;
						    font-weight: 400;
						    font-style: normal;
						    font-variant: normal;
						    font-stretch: normal;
						    font-size: 18px;
						    background: #f44336;">赏</span>
		    </button>
		    <div id="QR" style="display: none;margin-top:20px">
		      
		        <div id="wechat" style="display: inline-block;height:200px;width:200px;margin-right:20px">
		          <a href="/images/wechat.png" class="fancybox" rel="group"><img id="wechat_qr" src="/images/wechat.png" alt="WeChat Pay"></a>
		          <p>微信打赏</p>
		        </div>
		      
		      
		        <div id="alipay" style="display: inline-block;height:200px;width:200px;margin-left:20px">
		          <a href="/images/alipay.png" class="fancybox" rel="group"><img id="alipay_qr" src="/images/alipay.png" alt="Alipay"></a>
		          <p>支付宝打赏</p>
		        </div>
		      
		    </div>
		  </div>
    </div>

    <!-- 版本申明 -->
	<div style="text-align:center;color: #ccc;font-size:14px;">
		------ 本文结束 ------</div>
		<br/>
		<div>
		<div style="margin-left:10px">
		<span style="font-weight:blod">版权声明(特殊申明除外)</span>
		
		<p style="font-size: 14px;line-height: 30px"><a href="http://lpnote.com" style="color:#258FC6">LP's Notes</a> by <a href="http://lpnote.com" style="color:#258FC6">LPNOTE</a> is licensed under a <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" style="color:#258FC6">Creative Commons BY-NC-ND 4.0 International License</a>.<br/>
		由<a href="http://lpnote.com" style="color:#258FC6">LPNOTE</a>创作并维护的<a href="http://lponte.com" style="color:#258FC6">LP's Notes</a>博客采用<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" style="color:#258FC6">创作共用保留署名-非商业-禁止演绎4.0国际许可证</a>。<br/>
		本文首发于<a href="http://lpnote.com" style="color:#258FC6">LP's Notes</a> 博客（ <a href="http://lpnote.com" style="color:#258FC6">http://lpnote.com</a> ），版权所有，侵权必究。</p>
		<img src="http://7xqmjb.com1.z0.glb.clouddn.com/2017020242973cc.png" >
		<br/>
		</div>
	</div>
    <% } %>
		
	<% if(post.prev || post.next){ %>
		<div class="art-item-footer">
				<% if(post.prev){ %>
					<span class="art-item-left"><i class="icon icon-chevron-thin-left"></i>prev：<a href="<%=url_for(post.prev.path)%>" rel="prev"  title="<%=post.prev.title%>">
						<%= post.prev.title %> 
					</a></span>
				<% } %>
				<% if(post.next){ %>
					<span class="art-item-right">next：<a href="<%=url_for(post.next.path) %>" rel="next"  title="<%=post.next.title %>">
						<%=post.next.title  %>
					</a><i class="icon icon-chevron-thin-right"></i></span>
				<%} %>
		</div>
	<%} %>
	</section>
	<% if (post.comments && config.disqus_shortname){ %>
		<section id="comments">
			<div id="disqus_thread"></div>
		</section>
	<% } %>
</article>

<script>
	window.subData = {
		title: '<%= post.title %>',
		tools: true
	}
</script>
